// THIS IS THE STYLES FOR THE CONTACT INFORMATION
.contact-info {
    position: absolute;
    height: 10rem;
    right: 2rem;
    top: 10%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
}
.holder {
    position: relative;
    width: 10rem;
    height: 10rem;

    span {
        position: absolute;
        z-index: 1000;

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            i {
                font-size: 2rem;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                padding: 1rem;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
            }

            i:hover {
                font-size: 3rem;
            }
        }
    }
}

.tool-tip {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 30%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    font-family: "Dosis";
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 5.3rem;
    border-radius: 1rem;
    padding-left: 1rem;
    z-index: 500;
}

.text-slider:hover .tool-tip {
    left: 1.4rem;
    opacity: 1;
}

.text-slider {
    width: 100%;
    height: 100%;
}

.button-1 {
    @include buttons;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.button-2 {
    @include buttons;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.main-button-toggle {
    @include buttons;
    animation: pulsating 1.5s ease infinite;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

@keyframes pulsating {
    0% {
        background: rgba(255, 0, 0, 0.787);
    }

    50%   {
        background: rgba(255, 0, 0, 0.3);
    }

    100%   {
        background: rgba(255, 0, 0, 0.787);
    }
}

.holder p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.phone {
    opacity: 0;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all .3s ease-in-out;
    animation: ring 1s ease infinite;
}

.email {
    opacity: 0;
    left: 4rem;
    top: 50%;
    transform: translate(0%, -50%);
    transition: all .3s ease-in-out 0.2s;
}

.portfolio {
    opacity: 0;
    right: 4rem;
    top: 50%;
    transform: translate(0%, -50%);
    transition: all .3s ease-in-out 0.6s;
}

.about-me {
    opacity: 0;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all .3s ease-in-out 0.4s;
}

// THIS IS THE FIRST PARRALAX
.parralax-1 {
    margin: auto;
    width: calc(100% - 10rem);
    height: 15rem;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/heading.jpg);
    background-size: cover;
    background-attachment: fixed;
}

// THIS IS THE SECOND PARRALAX
.parralax-2 {
    margin: auto;
    width: calc(100% - 10rem);
    height: 15rem;
    background: url(../images/bg4.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
