// THIS IS THE STYLING FOR THE TOGGLE NAVBAR
#menu-toggle-btn {
    position: fixed;
    top: 1rem;
    left: 1.2rem;
    height: 2.4rem;
    width: 2.8rem;
    z-index: 500;
    background: rgb(32, 32, 32);
    border-radius: 0.2rem;
    transition: all 0.5s ease-in-out;

    p {
        background: rgb(255, 255, 255);
        border-radius: 1rem;
        margin: 0;
        left: 0.5rem;
        position: absolute;
        width: 1.8rem;
        height: 0.3rem;
        transition: all 0.5s ease-in-out;
    }

    p:nth-child(1){
        top: 0.4rem;
    }

    p:nth-child(2) {
        top: 1.05rem;
    }

    p:nth-child(3){
        bottom: 0.4rem;
    }
}

// THIS IS THE ANIMATION THAT PLAYS ONCE THE NAVBAR TOGGLE BUTTON IS CLICKED TO OPEN THE MENU
@keyframes shift-open {
    0% {
        left: 0.5rem;
    }

    50% {
        left: 6rem;
    }

    100% {
        left: 0.3rem;
    }
}

// THIS IS THE ANIMATION THAT PLAYS ONCE THE NAVBAR TOGGLE BUTTON IS CLICKED TO CLOSE THE MENU
@keyframes shift-close {
    0% {
        left: 0.3rem;
    }

    50% {
        left: 6rem;
    }

    100% {
        left: 0.5rem;
    }
}

#menu-toggle-btn:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

// #menu-toggle-btn {
//
//     span {
//         color: rgb(255, 255, 255);
//         position: absolute;
//         margin-top: 0.2rem;
//         font-size: 0.9rem;
//         font-family: "Poiret One";
//         left: 0;
//         opacity: 0;
//         transition: opacity 0.3s ease-in-out;
//     }
// }

// #menu-toggle-btn:hover span {
//     opacity: 1;
// }

// THESE ARE THE STYLES FOR THE HEADING AND MAIN TITLE
.head {
    text-align: center;
    padding-top: 16rem;
    color: $headings-color;

    .main-heading {
        margin: auto;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    .main-title {
        display: none;
    }
}

// THIS IS THE STYLES FOR THE ABOUT SECTION
.about {
    margin: auto;
    width: calc(100% - 10rem);
    height: 100vh;

    .image {
        height: 21rem;
        margin-top: 10rem;
        padding-right: 1rem;

        .imgContainer {
            width: 21rem;
            height: 100%;
            border-radius: 50%;
            float: right;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .intro {
        font-family: "Poiret One";
        color: $text-color-1;
        font-size: 1.2rem;
        margin-top: 10rem;
        height: 20rem;
        padding: 0 4rem 1rem 4rem;
    }
}

// THIS IS THE STYLES FOR THE EDUCATION SECTION
#edu {
    letter-spacing: 0.1rem;
    color: $text-color-1;
    margin: 2rem auto;
    width: calc(100% - 10rem);

    h2,
    h3 {
        font-family: "Poiret One";
        padding: 0.2rem 0;
        font-size: 1.8rem;
        white-space: nowrap;
    }

    .title {

        h2 {
            color: rgb(82, 82, 82);
            font-family: "Poiret One";
            letter-spacing: 0.1rem;
            font-size: 4rem;
            text-align: center;
        }
    }

    .card-1 {
        padding: 1rem 6rem;
        ul li {
            margin: 0.5rem 0;
            list-style-type: circle;
            font-family: "Dosis";
        }

        img {
            width: 6rem;
        }
    }

    .card-2 {
        padding: 1rem 6rem;

        img {
            width: 22rem;
            padding-bottom: 0.5rem;
        }
    }
}

// THIS IS THE STYLES FOR THE PORTFOLIO SECTION
.projects {
    margin: auto;
    width: calc(100% - 16rem);
    perspective: 1100px;
    text-align: center;
    padding: 4rem 3rem 10rem 3rem;
    background: url(../images/road.jpg);
    background-size: 100% 100%;

    h2 {
        color: rgb(82, 82, 82);
        font-family: "Poiret One";
        letter-spacing: 0.1rem;
        font-size: 4rem;
        grid-column: -1/1;
    }

    div {
        transition: all 1s ease-in-out;
        position: absolute;
    }

    .project-item {
      height: 16rem;
      width: 80%;
      position: relative;
      margin: auto;

        .rotatingBox {
            height: 100%;
            position: relative;
            width: 100%;
            transform: translateY(4rem);
            transform-style: preserve-3d;

            .topBox,
            .bottomBox,
            .leftBox,
            .rightBox {
                background: rgb(20, 20, 20);
            }

            .topBox {
                top: 0;
                transform: rotateX(-90deg) translateY(-2rem);
                height: 4rem;
                width: 100%;
                transform-origin: top;
            }

            .bottomBox {
                bottom: 0;
                transform: rotateX(-90deg) translateY(2rem);
                height: 4rem;
                width: 100%;
                transform-origin: bottom;
            }

            .leftBox {
                left: 0;
                transform: rotateY(90deg)translateX(-2rem);
                width: 4rem;
                height: 100%;
                transform-origin: left;
            }

            .rightBox {
                right: 0;
                transform: rotateY(-90deg) translateX(2rem);
                width: 4rem;
                height: 100%;
                transform-origin: right;
            }

            .imgBox {
                height: 100%;
                width: 100%;
                transform: translateZ(2rem);

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .details {
                height: 100%;
                width: 100%;
                transform: rotateY(180deg) translateZ(2rem);
                background: rgba(0, 0, 0, 0.9);

                h6 {
                    color: rgb(255, 255, 255);
                    font-family: "Poiret One";
                    letter-spacing: 0.1rem;
                    font-size: 1.4rem;
                    margin: 4rem 0 2rem 0;
                }

                p {
                    color: rgb(255, 255, 255);
                    font-family: "Poiret One";
                    letter-spacing: 0.1rem;
                    padding-bottom: 2rem;
                }

                a {
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                    font-family: "Dosis";
                    position: absolute;
                    bottom: 1rem;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0.5rem 1rem;
                    background: rgb(147, 119, 119);
                    transition: all 0.2s ease-in-out;
                }

                a:hover {
                    background: rgb(78, 63, 63);
                }
            }
        }

        .rotatingBox::before {
            content: "";
            position: absolute;
            transform: rotateX(90deg) translateY(2rem);
            transform-origin: bottom;
            height: 4rem;
            left: 0;
            width: 100%;
            bottom: -2rem;
            background: rgba(0, 0, 0, 0.8);
            transform-style: preserve-3d;
            transition: all 0.5s ease-in-out;
        }
    }

    .project-item:hover .rotatingBox {
        transform: rotateY(180deg) translateY(0);
        transition: all 1s ease-in-out;
    }
}

// THIS IS THE STYLES FOR THE GALLERY
.gallery {
    width: calc(100% - 6rem);
    margin: auto;

    div {
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.9);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .img1 {
        grid-column: span 2;
    }

    .img3 {
        grid-column: span 2;
        grid-row: span 2;
        height: auto;
    }

    .img6 {
        grid-column: span 2;
    }

    .img8 {
        grid-column: span 2;
    }

    .img10 {
        grid-column: span 2;
    }

    .img14 {
        grid-column: span 2;
        grid-row: span 2;
        height: auto;
    }

    .img15 {
        grid-column: span 2;
    }

    .img16 {
        grid-column: span 2;
    }

    .img20 {
        grid-column: span 2;
    }

    .img22 {
        grid-column: span 2;
    }

    .img23 {
        grid-column: span 2;
    }

    .img24 {
        grid-column: span 2;
    }

    .img25 {
        grid-column: span 2;
    }

    .img26 {
        grid-column: span 2;
    }

    .img27 {
        grid-column: span 2;
        grid-row: span 2;
        height: auto;
    }

    .img28 {
        grid-column: span 2;
    }

    .img29 {
        grid-column: span 2;
    }

    .img30 {
        grid-column: span 2;
    }
}
