// THIS IS THE STYLES FOR THE ABOUT SECTION
.about {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "image intro";
}

.image {
    grid-area: image;
}

.intro {
    grid-area: intro;
}

// THIS IS THE STYLE FOR THE EDUCATION SECTION
#edu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "title title"
    "card-1 card-2";
}

.title {
    font-size: 1.6rem;
    grid-area: title;
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

// THIS IS THE SECTION FOR THE PROGRAMMING LANGUAGES
.language-section {

    .language-icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
    }
}

// THIS IS THE STYLES FOR THE PORTFOLIO SECTION
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

// THIS IS THE STYLES FOR THE GALLERY
.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0.3rem;
}

// THIS IS THE STYLES FOR THE FOOTER
footer {
    display: grid;
    width: calc(100% - 10rem);
    margin: 8rem auto 0 auto;
    grid-template-columns: repeat(2, 1fr);
}
