// THIS IS THE STYLES FOR THE ABOUT SECTION
.about {
    margin: 0 2rem;
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "image intro";
}

.image {
    grid-area: image;
    height: 20rem;
    margin-top: 2rem;
    padding-right: 1rem;
    width: 14rem;
}

.intro {
    grid-area: intro;
    height: 20rem;
    padding: 6rem 1rem 1rem 2rem;
}

// THIS IS THE STYLE FOR THE EDUCATION SECTION
#edu {
    font-family: "Dosis";
    letter-spacing: 0.1rem;
    color: $text-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title title"
    "card-1 card-2";
}

.title {
    font-size: 1.6rem;
    grid-area: title;
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

// THIS IS THE STYLES FOR THE PORTFOLIO SECTION
.projects {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}