// MEDIA QUERY FOR LAPTOP DEVICE//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 1025px) {
    // THIS IS THE STYLES FOR THE HEADER
    header {
      height: 42rem;

        .head {
            padding-top: 10rem;
            font-family: "Poiret One";
            font-size: 2rem;
            letter-spacing: 0.1rem;

            div {

                h2 {
                    font-size: 1.6rem;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }

    .contact-info {
        position: absolute;
        height: 10rem;
        right: unset;
        top: 74%;
        left: 50%;
        transform: translateX(-50%);
        bottom: unset;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .holder {
        width: 8rem;
        height: 8rem;
        margin: 0 2rem;

        span {

            i {
                font-size: 2rem;
            }
        }
    }

    .tool-tip {
      display: none;
    }

    // THIS IS THE STYLES FOR THE ABOUT SECTION
    .about {
        height: 30rem;

        .image {
            margin-top: 4rem;
            padding: 0;
            height: 21rem;

            .imgContainer {
                width: 21rem;
                height: 100%;
                border-radius: 50%;
                float: right;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .intro {
            font-size: 1rem;
            margin-top: 6rem;
            padding: 0 2rem 1rem 2rem;
        }
    }

    // THIS IS THE STYLES FOR THE EDUCATION SECTION
    #edu {

        .card-1 {
            padding: 0;

            ul li {
                margin: 0.5rem 0;
                list-style-type: circle;
                font-family: "DOsis";
            }

            img {
                width: 6rem;
            }
        }

        .card-2 {
            padding: 0 0 0 2rem;
        }
    }

    // THIS IS THE SECTION FOR THE PROGRAMMING LANGUAGES
    .language-section {
        height: 36rem;
        perspective: 1000px;
        width: calc(100% - 10rem);
        margin: auto;

        h2 {
            font-size: 4rem;
            margin-bottom: 8rem;
        }

        .language-icons {
            width: 100%;

            div {

                p {
                    height: 8rem;

                    i {
                        font-size: 6rem;
                    }

                    .description {

                        span {
                            font-size: 3rem;
                        }
                    }
                }
            }

            div:hover p {
                transform: rotateY(180deg);
            }
        }
    }

    // THIS IS THE STYLES FOR THE PORTFOLIO SECTION
    .projects {
        padding: 2rem 3rem 10rem 3rem;

        .project-item {
          height: 12rem;
          width: 90%;

            .rotatingBox {

                .details {

                    h6 {
                        font-family: "Dosis";
                        font-size: 1rem;
                        margin: 2rem 0 1rem 0;
                    }

                    p {
                        font-family: "Dosis";
                        padding: 0 1rem 1rem 1rem;
                        font-size: 0.8rem;
                    }

                    a {
                        font-family: "Dosis";
                        padding: 0.3rem 0.8rem;
                    }
                }
            }
        }
    }

    // THIS IS THE STYLES FOR THE GALLERY
    .gallery-open-btn {
        right: 1rem;
    }

    .gallery {
        transition: left 0.5s ease-in-out;
    }
}

// MEDIA QUERY FOR TABLET DEVICE//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 769px) {

    // THIS IS THE STYLES FOR THE HEADER
    header {
        background-size: cover;

        .head {
            padding-top: 12rem;

            .animation {
                display: none;
                animation: 0;
            }

            .main-title {
                display: initial;
            }

            div {
                width: 60% !important;
                height: 4rem;

                h2 {
                    font-size: 1.2rem;
                }
            }
        }
    }

    // THIS IS THE STYLES FOR THE CONTACT INFORMATION
    .contact-info {
        position: absolute;
        height: 10rem;
        right: unset;
        top: 74%;
        left: 50%;
        transform: translateX(-50%);
        bottom: unset;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .holder {
        width: 8rem;
        height: 8rem;
        margin: 0 1rem;

        span {

            i {
                font-size: 2rem;
            }
        }
    }

    // THIS IS THE STYLES FOR THE ABOUT SECTION
    .about {
        height: 44rem;
        width: 100%;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "image"
        "intro";

        .image {
            height: 21rem;
            width: 21rem;
            margin: 4rem auto 0 auto;
            border-radius: 0.2rem !important;
        }

        .intro {
            margin-top: 2rem;
            padding: 0.5rem 8rem;
            font-size: 1rem;

            h3 {
                text-align: center;
            }
        }
    }

    // THIS IS THE FIRST PARRALAX
    .parralax-1 {
        height: 10rem;
        background-position: center;
    }

       // THIS IS THE SECOND PARRALAX
    .parralax-2 {
        height: 10rem;
        background-position: center;
    }

     // THIS IS THE STYLE FOR THE EDUCATION SECTION
     #edu {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "card-1"
        "card-2";

        h2,
        h3 {
            color: $text-color-1;
        }

        .title {
            font-size: 0.8rem;
            text-align: center;
        }

        .card-1,
        .card-2 {
            text-align: center;
            font-size: 0.8rem;
            padding: 0 !important;
        }

        .card-1 {

            ul li {
                text-align: left;
            }

            img {
                width: 4rem;
            }
        }

        .card-2 {

            img {
                width: 16rem !important;
                padding: 2rem 0 !important;
            }
        }
    }

    // THIS IS THE SECTION FOR THE PROGRAMMING LANGUAGES
    .language-section {

        h2 {
            font-size: 4rem;
            margin-bottom: 8rem;
        }

        .language-icons {
            width: 100%;

            div {

                p {
                    height: 6rem;

                    i {
                        font-size: 6rem;
                    }

                    .description {

                        span {
                            font-size: 1.4rem !important;
                        }
                    }
                }
            }

            div:hover p {
                transform: rotateY(180deg);
            }
        }
    }

    // THIS IS THE STYLES FOR THE FIRST PARRALAX
    .parralax-2 {
        margin-bottom: 0;
    }

    // THIS IS THE STYLES FOR THE PORTFOLIO SECTION
    .projects {
        background: none;
        width: calc(100% - 6rem);
        padding: 2rem 0;
        grid-gap: 1rem;

        .project-item {
          height: 12rem;
          width: 100%;

            .rotatingBox {

                .details {

                    h6 {
                        font-family: "Dosis";
                        font-size: 1rem;
                        margin: 2rem 0 1rem 0;
                    }

                    p {
                        font-family: "Dosis";
                        padding: 0 1rem 1rem 1rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    // THIS IS THE STYLES FOR THE footer
    footer {
        height: 10rem;
        padding: 2rem 0;
        margin-bottom: 4rem;

        .personal-details {
            border-right: 0.5px dotted rgba(0, 0, 0, 0.292);
            padding-left: 2rem;

            h6 {
                font-size: 1.2rem;
            }

            p {
                padding: 1rem 0;

                i {
                    color: rgb(255, 255, 255);
                    font-size: 1rem;
                }
            }
        }

        .project-links {
            padding-left: 6rem;

            p {

                a {
                    padding: 0.2rem 0;
                }
            }
        }
    }
}

// MEDIA QUERY FOR LARGE MOBILE DEVICE//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 426px) {

    // THIS IS THE STYLES FOR THE HEADER
    header {
        background-size: cover !important;
        height: 100vh;
    }

    .head {
        padding-top: 14rem;
        font-size: 1.6rem;

        .main-title {
            font-size: 2.4rem !important;
        }

        div {
            margin-top: 1rem;
            transform: translateX(-50%);
            width: 80% !important;
            height: 4rem;
            position: absolute;

            h2 {
                font-size: 1.2rem;
            }
        }
    }

    // THIS IS THE STYLES FOR THE CONTACT INFORMATION
    .contact-info {
        grid-template-columns: repeat(3, 1fr);
        top: 70%;
    }

    .holder {
        width: 8rem;
        height: 8rem;
        margin: 0;

        span {

            i {
                font-size: 2rem;
            }
        }
    }

    .button-1 {
        @include buttons;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-2 {
        @include buttons;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // THIS IS THE STYLES FOR THE ABOUT SECTION
    .about {
        height: 38rem;
        width: calc(100% - 2rem);
        margin-bottom: 2rem;

        .image {
            height: 21rem;
            padding-right: 0;
            width: 21rem;
            margin: 2rem auto 2 auto;

            .imgContainer {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                float: right;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .intro {
            margin-top: 0;
            padding: 0.5rem 0 !important;
            font-size: 0.8rem;
            height: 18rem;
        }
    }

     // THIS IS THE FIRST PARRALAX
     .parralax-1 {
        height: 8rem;
        width: calc(100% - 2rem);
        background-position: center;
    }

     // THIS IS THE SECOND PARRALAX
     .parralax-2 {
        height: 8rem;
        width: calc(100% - 2rem);
        background-position: center;
    }

    // THIS IS THE STYLE FOR THE EDUCATION SECTION
    #edu {
        padding: 0;
        width: calc(100% - 2rem);

        .title {

            h2 {
                font-size: 2rem !important;
                text-align: center;
            }
        }

        .card-1,
        .card-2 {
            text-align: center;
            font-size: 0.8rem;
            padding: 0 !important;
        }

        .card-1 {

            ul {
                padding: 0;
                margin: auto;

                li {
                    text-align: center;
                    list-style: none !important;
                }

            }

            img {
                width: 4rem;
            }
        }

        .card-2 {

            img {
                width: 16rem !important;
                padding: 2rem 0 !important;
            }
        }
    }

     // THIS IS THE SECTION FOR THE PROGRAMMING LANGUAGES
     .language-section {
         width: calc(100% - 2rem);
         height: auto;
         perspective: 3000px;
         padding-bottom: 3rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 3rem;
            margin-top: 5rem;
        }

        .language-icons {
            width: 100%;
            grid-template-columns: 1fr;

            div {
                width: 14rem;
                margin: auto;

                p {
                    height: 10rem;

                    i {
                        font-size: 7rem !important;
                    }

                    .description {

                        span {
                            font-size: 3rem !important;
                        }
                    }
                }

                .below {
                    display: none;
                }
            }

            div:hover p {
                transform: rotateY(180deg);
            }
        }
    }

    // THIS IS THE STYLES FOR THE PORTFOLIO SECTION
    .projects {
        perspective: 3000px;
        background: none;
        width: calc(100% - 2rem);
        padding: 2rem 0;
        grid-gap: 2rem;
        grid-template-columns: 1fr;

        h2 {
            font-size: 2rem;
        }

        .project-item {
          height: 14rem;
          width: 100%;

            .rotatingBox {
                transform: translateY(0);

                .details {

                    h6 {
                        font-family: "Dosis";
                        font-size: 1rem;
                        margin: 2rem 0 1rem 0;
                    }

                    p {
                        font-family: "Poiret One";
                        padding: 0 1rem 1rem 1rem;
                        font-size: 0.8rem;
                    }
                }
            }

            .rotatingBox::before {
                content: "";
                position: absolute;
                display: none;
            }
        }
    }

    // THIS IS THE STYLES FOR THE GALLERY
    .gallery {
        grid-template-columns: 1fr;

        div {
            width: 100%;
            height: 16rem !important;
            background: rgba(0, 0, 0, 0.9);
            grid-column: span 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .img3 {
            grid-column: span 1;
            grid-row: span 1;
            height: 32rem !important;
        }

        .img6 {
            grid-column: span 1;
            grid-row: span 1;
            height: 16rem;
        }

        .img14 {
            grid-column: span 1;
            grid-row: span 1;
            height: 32rem !important;
        }

        .img12 {
            grid-column: span 1;
            grid-row: span 1;
            height: 32rem !important;
        }
    }

    // THIS IS THE STYLES FOR THE FOOTER
    footer {
        height: auto;
        padding: 2rem 0;
        margin-bottom: 4rem;
        grid-template-columns: 1fr;
        margin-top: 3rem;

        .personal-details {
            border-right: none;
            padding-left: 0;
            text-align: center;

            h6 {
                font-size: 1.2rem;
            }

            p {
                padding: 1rem 0;

                i {
                    color: rgb(255, 255, 255);
                    font-size: 1rem;
                }
            }
        }

        .project-links {
            padding-left: 0;
            margin-top: 2rem;
            text-align: center;

            p {

                a {
                    padding: 0.2rem 0;
                }
            }
        }
    }
}

// _____________________________________________________________________________MEDIA QUERY FOR SMALL AND MEDIUM MOBILE DEVICE_________________________________________________________________________________
@media only screen and (max-width: 376px) {
    // THIS IS THE STYLES FOR THE HEADER
    header {
        background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/american-cellphone-coffee-1391371.jpg);
        background-size: cover;
    }

    .head {
        padding-top: 14rem;
        font-size: 1.6rem;

        .main-title {
            font-size: 2rem;
        }

        div {
            margin-top: 2rem !important;
            transform: translateX(-50%);
            width: 80% !important;

            h2 {
                font-size: 1.2rem !important;
            }
        }
    }

    // THIS IS THE STYLES FOR THE ABOUT SECTION
    .about {
        height: 38rem;
        width: calc(100% - 2rem);
        margin-bottom: 2rem;

        .image {
            height: 16rem;
            padding-right: 0;
            width: 16rem;
            margin: 2rem auto 2 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .intro {
            margin-top: 0;
            padding: 0.5rem 0 !important;
            font-size: 0.8rem;
            height: 18rem;
        }
    }

    // THIS IS THE STYLES FOR THE ABOUT SECTION
    .about {
        height: 36rem;
        width: calc(100% - 2rem);
        margin-bottom: 2rem;

        .image {
            height: 16rem;
            padding-right: 0;
            width: 16rem;
            margin: 2rem auto 2 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .intro {
            margin-top: 0;
            padding: 0.5rem 0 !important;
            font-size: 0.8rem;
            height: 18rem;
        }
    }

    // THIS IS THE STYLES FOR THE GALLERY
    .gallery {

        div {
            width: 100%;
            height: 13rem !important;
            background: rgba(0, 0, 0, 0.9);
            grid-column: span 1;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .img3 {
            grid-column: span 1;
            grid-row: span 1;
            height: 28rem !important;
        }

        .img6 {
            grid-column: span 1;
            grid-row: span 1;
            height: 13rem;
        }

        .img14 {
            grid-column: span 1;
            grid-row: span 1;
            height: 28rem !important;
        }

        .img12 {
            grid-column: span 1;
            grid-row: span 1;
            height: 28rem !important;
        }
    }

    // THIS IS THE STYLES FOR THE FOOTER
    footer {
        height: auto;
        width: calc(100% - 2rem);
        padding: 2rem 0;
        margin-bottom: 4rem;
        grid-template-columns: 1fr;
        margin-top: 3rem;

        .personal-details {
            border-right: none;
            padding-left: 0;
            text-align: center;

            h6 {
                font-size: 1.2rem;
            }

            p {
                padding: 1rem 0;

                i {
                    color: rgb(255, 255, 255);
                    font-size: 1rem;
                }
            }
        }

        .project-links {
            padding-left: 0;
            margin-top: 2rem;
            text-align: center;

            p {

                a {
                    padding: 0.2rem 0;
                }
            }
        }
    }

    .designer {
        height: 4rem;
        background: rgb(223, 223, 223);

        p {
            text-align: center;
            font-size: 0.8rem;
            letter-spacing: 0.05rem;
            margin: 0;
            padding-top: 1.5rem;
        }
    }
}
